
.header {
  background: $dark-grey;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
  font-family: 'Dancing Script' cursive;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
  }
}

h3 {
  font-family: 'Dancing Script', cursive;
}
